.grid__row {
display: flex;
justify-content: space-around;

}

.img--frame {
border: 10px;
border-style: ridge;
margin-left: 10%;
}

.img--avatar{
border-radius: 20px;
margin-left: 25%;

}

    .img--logo{
    margin-left:  10px;
     
    
    }