.nav{
display: flex;
justify-content: space-around;
list-style-type: none;
text-decoration: none;

}
.nav__item{
border-start-end-radius: 25px;
border-radius: 150px;
font-size: large;
text-decoration: none;
margin-left: 1px;
&:hover{
@include btndec;
color: white;
}
}